<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>valida_usuario_servlet</servlet-name>
        <servlet-class>servlets.validaUsuario_servlet</servlet-class>
        <init-param>
            <param-name>usuarioCorrecto</param-name>
            <param-value>Juan</param-value>
        </init-param>
        <init-param>
            <param-name>passCorrecto</param-name>
            <param-value>123</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>muestraUsuario</servlet-name>
        <servlet-class>servlets.muestraUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>valida_usuario_servlet</servlet-name>
        <url-pattern>/valida_usuario_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>muestraUsuario</servlet-name>
        <url-pattern>/muestraUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
